<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/customer']" routerLinkActive="router-link-active">
      <img src="../../assets/img/gitGo_logo.png" width="100" height="auto" alt="Git Go" />
    </a>
    <div class=" navbar navbar-custom d-none d-lg-flex">
      <ul class="navbar-nav"  *ngIf="commonService.isUserLogged()">
        <li class="nav-item" routerLinkActive="router-link-active">

          <a class="nav-link" routerLink="customer">عملية تقسيط جديدة <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" routerLink="retrival">إسترجاع معاملة سابقة</a>
        </li>

      </ul>
      <ul class="navbar-nav"  *ngIf="commonService.isUserLogged() ">

        <li class="nav-item">
            <button class="btn btnCart" type="button" routerLink="shopping-cart">
                <div class="cart-btn">
                  <span class="badge" *ngIf="shoppingCartService.itemsQuntity !== 0">
                    {{ shoppingCartService.itemsQuntity }}</span>
                  <i class="fas fa-shopping-cart text-white"></i>
                </div>
              </button>
        </li>
        <li class="nav-item ">
          <div class="text-white">
            <i class="fas fa-user ml-2"> </i>
            {{ commonService.username }}
          </div>

        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link cursor" (click)="logout()">خروج</a>
        </li>
      </ul>

    </div>
    <button class="navbar-toggler" type="button" (click)="openNav()" *ngIf="commonService.isUserLogged()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <!-- collapse navbar-collapse -->
  <div class=" sidenav" id="mySidenav">
    <div class="sidenav-header">
      <div class="text-white">
        <i class="fas fa-user ml-2"> </i>
        {{ commonService.username }}
      </div>
      <button class="btn btnCart" type="button" routerLink="shopping-cart">
      <div class="cart-btn">
        <span class="badge" *ngIf="shoppingCartService.itemsQuntity !== 0">
          {{ shoppingCartService.itemsQuntity }}</span>
        <i class="fas fa-shopping-cart text-white"></i>
      </div>
    </button>


    </div>
    <ul class="navbar-nav" *ngIf="commonService.isUserLogged() ">
      <li class="nav-item" routerLinkActive="router-link-active">

        <a class="nav-link" (click)="closeNav()" routerLink="customer" >عملية تقسيط جديدة <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" (click)="closeNav()" routerLink="retrival">إسترجاع معاملة سابقة</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor" (click)="logout();closeNav()">خروج</a>
      </li>
    </ul>
  </div>
  <div id="overlay3" (click)="closeNav()"></div>
</nav>