@import "../../custom_styles/variables";

.navbar-nav {
  padding: 0;
}
.navbar-dark .navbar-toggler {
  border: 0;
}
.badge {
  font-weight: 500;
  padding: 0.2em 0.4em;
  position: absolute;
  top: 7px;
  right: 0;
  .badge-pill {
    padding-right: 0.4em;
    padding-left: 0.4em;
    border-radius: 10rem;
    text-align: center;
  }
}
.navbar-custom {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  flex-direction: row;
  flex-grow: 1;
  .navbar-nav {
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    // width: 100%;
    .nav-item {
      padding: 0 0.5rem;
    }
  }
}
.profile-tab {
  align-items: center;
  display: flex;
  color: $text-black !important;
  border-bottom: 5px solid transparent;
}
.cart-btn {
  position: relative;
  .badge {
    background: #f00;
    color: #fff;
    font-size: 10px;
    position: absolute;
    right: -8px;
    top: -6px;
    border-radius: 50%;
    min-height: 15px;
    min-width: 15px;
    padding: 0.2rem 0.3rem;
  }
  i {
    font-size: 20px;
  }
}
/* =============================================The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100000; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  max-width: 320px;
  max-width: calc(100% - 56px);
  box-shadow: 0 4px 8px 0 rgba(85, 68, 68, 0.2);
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  .sidenav-header {
    background: $primary-color;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
    .navbar-nav a {
      color: #fff;
    }
  }
}
/* The navigation menu links */
.sidenav a {
  padding: 1rem;
  text-decoration: none;
  color: #00000080;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid #f2f2f2;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  // color: #f1f1f1;
  color: #000000b3;
}
/* Position and style the close button (top right corner) */
.sidenav a.closebtn {
  font-size: 36px;
  line-height: 100%;
  padding: 0.5rem 1rem;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
#overlay3 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #000000e6;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}
.cursor {
  cursor: pointer !important;
} 
.btnCart{
  padding: 0 !important;
}

  .btn.btnCart:focus, .btn.btnCart.focus {
    outline: 0;
    box-shadow: none;

}
.navbar-toggler:hover, .navbar-toggler:focus {
  outline: none;
}