<section class="container main-container">
    <div class="row">
        <!-- login-container -->
      <div class="col-md-12  sec-container">
        <h1 class="heading-title">تسجيل الدخول</h1>
        <form class="needs-validation" #f="ngForm" (ngSubmit)="submitLogin(f.value)" novalidate>
          <div class="validation-feedback" *ngIf="error">
            <i class="fas fa-exclamation-circle "></i>
            <div >
              يتعذر تسجيل الدخول، يرجى التأكد من صحة البيانات. في حالة إستمرار المشكلة يرجى الإتصال بمدير العلاقات التجارية المسئول.
            </div>
                     </div>
          <div class="form-group">
              <label for="validationCustom01">إسم المستخدم: <span class="required">*</span> </label>
              <input
               type="text"
               class="form-control"
               ngModel
               name="userName"
               id="validationCustom01"
               mdbInputDirective placeholder="   "
               data-error="من فضلك ادخل إسم المستخدم."
               [validateSuccess]="false"
                required>

              </div>
            <div class="form-group">
              <label for="validationCustom02">كلمة المرور: <span class="required">*</span> </label>
              <input
              type="password"
              class="form-control"
              ngModel
              name="password"
              id="validationCustom02"
              mdbInputDirective placeholder="   "
              data-error="من فضلك ادخل كلمةالمرور."
              [validateSuccess]="false"
              required>

     </div>
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.valid">تسجيل الدخول</button>

      </form>
    </div>
    </div>
  </section>

