<!-- the second section-->
<section class="container-fluid main-container sec-container">
  <div class="row">
    <div class="col-md-12 py-2rem">
      <div class="head">
        <h2 class="title">عربة التسوق</h2>
        <p class="text ">
          ( عدد المنتجات في العربة : {{ cartItems ? cartItems.length : "''" }} )
        </p>
      </div>
      <!-- body -->
      <div class="container-fluid">
        <div class="row">
          <p class="col-12">إجمالى المبلغ :{{ totalPayment }}</p>
          <p class="col-12">إجمالى الدفعة المقدمة :{{ totalDownPayment }}</p>
        </div>
        <div class="table-responsive">
          <table class="table table-searchResults">
            <tbody>
              <tr *ngFor="let product of cartItems; let i = index">
                <td>
                  <!-- table-sm --> 
                  <div class="table-responsive">
                    <table class="table table-sm table-borderless">
                      <thead>
                        <tr>
                          <!-- <th scope="col">المنتج الاول
                      </th> colspan="2"-->
                          <th>
                              <div class="item-num">
                                  {{ i + 1 + "" }}
                              </div>
                            </th>
                          <th scope="col">
                            <a  class="ml-3 link" (click)="removeFromCart(i)">
                              <i class="fas fa-trash-alt ml-1"></i>إزالة
                              المنتج</a>
                            <a (click)="editFromCart(i);EditbasicModal.show()" class="link">
                              <i class="fas fa-pencil-alt ml-1"></i>تعديل المنتج</a>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text">
                            كود المنتج:
                          </td>
                          <td>
                            {{ product.code }}
                          </td>
                        </tr>
                        <tr>
                          <td class="text">
                            المنتج :
                          </td>
                          <td>
                            {{ product.nameAr }}
                          </td>
                        </tr>
                        <tr>
                          <td class="text">
                            الفئة الفرعية :
                          </td>
                          <td>
                            {{ product.SubName }}
                          </td>
                        </tr>
                        <tr>
                          <td class="text">
                            السعر الإجمالي :
                          </td>
                          <td>{{ product.price }} جنيها مصريا</td>
                        </tr>
                        <tr>
                          <td class="text">
                            الدفعة المقدمة :
                          </td>
                          <td>{{ product.downPayment }} جنيها مصريا</td>
                        </tr>
                        <tr>
                          <td class="text">
                            فتره التقسيط :
                          </td>
                          <td>{{ product.tenor }} شهرا</td>
                        </tr>
                        <tr>
                          <td class="text">
                            القسط الشهري :
                          </td>
                          <td>
                            <div class="total">
                              {{ product.installment }} جنيها مصريا
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="footer text-center">
        <button class="btn btn-success col-md-6" type="button" [routerLink]="['/check-out']"
          [disabled]="cartItems.length <= 0 || (totalPayment-totalDownPayment) < 1000" routerLinkActive="router-link-active">
          أستكمال عملية التقسيط
        </button>
      </div>
    </div>
  </div>
</section>

<div mdbModal #EditbasicModal="mdbModal" class="modal cart-modal fade" tabindex="-1" role="dialog"
  aria-labelledby="EditbasicModalLabel" aria-hidden="true" (keydown.esc)="onEvent($event)">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-3">
      <div class="modal-body ">
        <div class="cart-modal-body">
          <form class="form-sm" (click)="onEvent($event)" #editcartForm="ngForm"
            (ngSubmit)="validateBalance(editcartForm.value, editcartForm)">
            <!--  *ngIf="isloanCal" -->
            <div class="form-row mb-2">
              <label for="inputNum" class="col-md-5 col-12 col-form-label ">سعر الوحده:
                <span class="required">*</span>
              </label>
              <div class="col-md-4 col-12">
                <input type="number" min="0" max="0"  step="0.01" class="form-control" [(ngModel)]="Edittems.price" id="inputNum" ngModel
                  name="totalPrice" placeholder=""  required />
              </div>
              <label class="col-md-3 col-4 col-form-label d-none d-sm-block">جنيه مصري</label>
            </div>
            <div class="form-row mb-2">
              <label for="inputNum" class="col-md-5 col-12 col-form-label ">الدفعة المقدمة:
                <span class="required">*</span>
              </label>
              <div class="col-md-4 col-12">
                <input type="number" min="0" max="0"  step="0.01" class="form-control" id="inputNum" [(ngModel)]="Edittems.downPayment" ngModel
                  name="downPayment"  placeholder=""  required />
              </div>
              <label class="col-md-3 col-4 col-form-label d-none d-sm-block">جنيه مصري</label>
            </div>
            <!-- form- -->
            <div class="form-row mb-2">
              <label  class="col-md-5 col-12 col-form-label ">فترة التقسيط</label>
              <div class="col-md-4 col-12">
                <select [(ngModel)]="Edittems.tenor" class="form-control" ngModel name="tenor" required
                  [validateSuccess]="false" mdbInputDirective data-error="من فضلك حدد فترة التقسيط.">
                  <!-- <option value=""></option> -->
                  <option *ngFor="let month of Duration" value="{{ month }}">{{
                    month
                  }}</option>
                </select>
              </div>
              <label class="col-md-3 col-4 col-form-label d-none d-sm-block">
                شهر</label>
            </div>
          </form>
        </div>
      </div>
      <!-- data-dismiss="modal" -->

      <div class="modal-footer  text-center justify-content-center">
        <button type="submit" class="btn btn-primary btn-sm col-12 col-md-12" data-dismiss="modal"
          [disabled]="!editcartForm.valid || loading" (click)="validateBalance(editcartForm.value, editcartForm)">
          تعديل المنتج
        </button>
      </div>
      <div class="text-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>

<!-- ======================================================================== -->