<section class="container-fluid main-container">
  <div class="row">
    <div class="col-md-12 col-container">
      <div class=" cart-modal text-center">
        <div class="cart-modal-body">
          <img src="../../assets/img/added_icon.png" />
          <h5 class="heading-title mb-3">شكرا لك</h5>
          <p class="text-black mb-3">تم تنفيذ العملية بنجاح</p>
          <h5 class="mb-3">
            رقم العملية:
            <span class="text-secondary font-english">{{ invoiceNo }}</span>
          </h5>
        </div>
      </div>
      <div class="cart-modal-footer  footer text-center">
        <button
          type="button"
          class="btn btn-primary col-md-4 mx-1 mb-2 mb-md-0"
          data-dismiss="modal"
          [routerLink]="['/customer']" routerLinkActive="router-link-active"
        >
           بدءعملية تقسيط جديدة
        </button>
        <button
          type="button"
          class="btn btn-success col-md-4 mx-1"
          data-dismiss="modal" (click)="print()"
        >
          <i class="fas fa-print ml-1"></i> طباعة الإيصال
        </button>
      </div>
    </div>
  </div>
</section>
<router-outlet name="print"></router-outlet>
