<section class="container-fluid main-container">
  <div class="row">
    <div class="col-md-12 col-container bg-grey">
      <h2 class="title"> المعاملات السابقة</h2>
      <form #f="ngForm" (ngSubmit)="getInvoiceHistory(clientId)">
        <div class="form-row mb-3 align-items-center">
          <label for="inputNum" class="col-md-2 col-form-label ">رقم تعريف العميل:<span
              class="required">*</span></label>
          <div class="col-md-7">
            <input type="text" class="form-control mb-2 mb-md-0" id="inputNum" placeholder="من فضلك إدخل رقم تعريف العميل" required
              name="clientId" ngModel #clientId="ngModel">
          </div>
          <div class="col-md-3">
            <button type="submit" [disabled]="!f.valid"  class="btn  btn-primary btn-block">إظهار النتائج </button>
          </div>
        </div>

      </form>
	    <div class="text-danger"
        *ngIf="errorMessage" >{{errorMessage}}</div>
    </div>


  </div>
</section>
<!-- the second section-->
<section class="container-fluid main-container">
  <div class="row">
    <div class="col-md-12 col-container ">
      <div class="head">
        <h2 class="title">نتائج البحث </h2>
        <p class="text ">( {{invoiceHistory?.length || 0}} منتجات )</p>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-searchResults">
            <thead>
              <tr>
                <th scope="col">#
                </th>
                <th scope="col">تاريخ الفاتورة
                </th>
                <th scope="col">المنتجات
                </th>
                <th scope="col">إجمالي الفاتورة
                </th>
                <th scope="col">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="col">
                  <div class="item-num">
                    1
                  </div>
                </th>
                <td class="">
                  14.55 19/08/2019 </td>
                <td>
                  1 منتج
                </td>
                <td class="">
                  5.0000 جنيه مصري </td>
                <td class="text-left">
                  <!-- <button type="button" class="btn btn-success btn-custom" routerLink="refund-popup"> 
                    إظهار تفاصيل
                    الفاتورة </button> -->
                  <button type="button" class="btn btn-secondary-color btn-custom" routerLink="refund-popup">
                    إخفاء تفاصيل الفاتورة
                    <i class="fas fa-chevron-down text-white mr-2"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="5" class="bg-light-grey border-0 p-0">
                  <!-- تفاصيل الفاتورة -->
                  <div class="bg-light-grey pt-2">
                    <table class="table mb-0 table-borderless">
                      <thead>
                        <tr>
                          <th class="text">المنتج</th>
                          <th class="text">السعر الإجمالي للمنتج</th>
                          <th class="text">الدفعة المقدمة</th>
                          <th class="text">عدد شهور الدفع </th>
                          <th class="text">القسط الشهري </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlValidation1"
                                  required>
                                <label class="custom-control-label" for="customControlValidation1"> ابل ايفون X مع فايس
                                  تايم</label>
                              </div>

                            </form>

                          </td>
                          <td><span class="text"> 18.000 </span> جنيها مصريا </td>
                          <td> <span class="text">5.000</span> جنيها مصريا</td>
                          <td> <span class="text">12</span> شهرا</td>
                          <td>
                            <span class="total">1202.8 </span>
                            جنيها مصريا / شهر </td>
                        </tr>
                        <tr>
                          <td>
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlValidation2"
                                  required>
                                <label class="custom-control-label" for="customControlValidation2"> ابل ايفون X مع فايس
                                  تايم</label>
                              </div>

                            </form>

                          </td>
                          <td><span class="text"> 18.000 </span> جنيها مصريا </td>
                          <td> <span class="text">5.000</span> جنيها مصريا</td>
                          <td> <span class="text">12</span> شهرا</td>
                          <td>
                            <span class="total">1202.8 </span>
                            جنيها مصريا / شهر </td>
                        </tr>

                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="4"></td>
                          <td> <button type="button" class="btn btn-secondary-color btn-custom"
                              routerLink="refund-popup">
                              <i class="fas fa-share text-white ml-2"></i>
                              إسترجاع العمليات المحددة

                            </button></td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="col">
                  <div class="item-num">
                    2
                  </div>
                </th>
                <td class="">
                  14.55 19/08/2019 </td>
                <td>
                  1 منتج
                </td>
                <td class="">
                  5.0000 جنيه مصري </td>
                <td class="text-left">
                  <button type="button" class="btn btn-success btn-custom" routerLink="refund-popup"> إظهار تفاصيل
                    الفاتورة </button>
                </td>
              </tr>
              <tr>
                <th scope="col">
                  <div class="item-num">
                    3
                  </div>
                </th>
                <td class="">
                  14.55 19/08/2019 </td>
                <td>
                  1 منتج
                </td>
                <td class="">
                  5.0000 جنيه مصري </td>
                <td class="text-left">
                  <button type="button" class="btn btn-success btn-custom" routerLink="refund-popup"> إظهار تفاصيل
                    الفاتورة </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="footer text-center">
            <button class="btn btn-secondary col-md-3 mx-1" type="button" routerLink="" >إلغاء  </button>
            <button class="btn btn-success col-md-3 mx-1" type="button" routerLink="success"  >تأكيد الطلب</button>
        </div> -->
    </div>
  </div>
</section>

<router-outlet></router-outlet>