<section class="container-fluid main-container">
  <div class="row">
    <div class="col-md-6 col-container bg-grey">
      <h2 class="title"> تأكيد عملية التقسيط</h2>
      <form>
        <div class="form-row mb-3">
          <label for="inputNum" class="col-md-4 col-form-label ">تم إرسال كود تأكيد العملية على رقم:</label>
          <div class="col-md-8">
            <label for="inputNum" class="col-md-4 col-form-label" dir="ltr">{{mobileNoReq}} </label>
          </div>
        </div>
        <!-- <div class="row ">
          <div class="col-md-12 text-left">
            <button type="submit" class="btn btn-primary ">إرسل الرمز</button>
          </div>
        </div> -->
      </form>
    </div>
    <div class="col-md-6 col-container bg-light-grey">
      <h2 class="title title-sm-none ">تأكيد العميل</h2>
      <form #mobSub="ngForm" (ngSubmit)="submitInvoice( mobSub.value)">
        <div class="form-row mb-3">
          <label for="inputState" class="col-4 col-form-label">كود تأكيد العملية:<span class="required">*</span></label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="otpCode" required numbersOnly id="inputState" placeholder=""
              ngModel #otpCode="ngModel">
            <div class="text-danger" *ngIf="otpErrorMessage">{{otpErrorMessage}}</div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left">
            <button type="submit" class="btn btn-primary " [disabled]="!mobSub.form.valid">تأكيد عملية التقسيط</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 ">
            <div (click)="sendOTP(clientId)">
              في حالة تعذر إرسال كود تأكيد العملية <span><a class="link">إضغط هنا</a></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <botdetect-captcha captchaStyleName="yourFirstCaptchaStyle"></botdetect-captcha>  
<input id="yourFirstCaptchaUserInput"
       name="yourFirstCaptchaUserInput"
       ngModel
       #yourFirstCaptchaUserInput="ngModel"  
       type="text" >
       <button type="submit" class="btn btn-primary" (click)="validate()" >submit</button> -->
</section>
<!-- the second section-->
<section class="container-fluid main-container">
  <div class="row">
    <div class="col-md-12 sec-container ">
      <div class="head">
        <h2 class="title"> تأكيد الطلب</h2>
        <!-- clientId: {{clientId}}; -->
        <p class="text ">( {{shoppingService.itemsQuntity}} منتجات )</p>
      </div>
      <div class="table-responsive">
        <app-product [items]="cartItems"></app-product>
      </div>
      <!-- <div class="footer text-center">
          <button class="btn btn-secondary col-md-3 mx-1 mb-2 mb-md-0" type="button" routerLink="customer" >إلغاء  </button>
          <button class="btn btn-success col-md-3 mx-1" type="button" (click)="submitInvoice()"routerLink="success"  >تأكيد الطلب</button>
      </div> -->
    </div>
  </div>
</section>