<!--The content below is only a placeholder and can be replaced.-->
<app-navbar [showNav]="commonService.showNav"></app-navbar>
<div class="dimmContent" id="loadingDiv"  [style.display]="commonService.showLoading ? 'block': 'none'"></div>
<router-outlet></router-outlet>
<router-outlet name="print"></router-outlet>
 <footer> للإستفسارات أو المساعدة يرجى الإتصال بمدير العلاقات التجارية المسئول</footer>  

<!-- <app-customer></app-customer> -->
