<div class="body" *ngFor="let product of items; let i = index ">
  <table class="table table-searchResults">
    <tbody>
      <tr>
        <td class="bg-light-grey">
          <table class="table table-sm table-borderless">

            <tbody>
              <tr>
                  <th rowspan="4" scope="col"><div class="item-num">
                      {{i + 1 + ""}} 
                  </div>
                    </th>
                <td class="text">
                  الرقم التعريفي:
                </td>
                <td>
                  {{product.itemId}}
                </td>
                 <td class="text bg-light-grey">
                  السعر الإجمالي للمنتج :
                </td>
                <td class="bg-light-grey">
                  {{product.price}} جنيه مصرى
                </td>
              </tr>
              <tr >
                <td rowspan="3" class="text">
                  المنتج :
                </td>
                <td rowspan="3">
                 {{product.nameAr}}
                </td>
                <td class="text bg-light-grey">
                  الدفعة المقدمة :
                </td>
                <td class="bg-light-grey">
                  {{product.downPayment}}  جنيه مصرى
                </td>
              </tr>
              <tr>
                <td class="text bg-light-grey">
                    عدد شهور الدفع :
                </td>
                <td class="bg-light-grey">
                  {{product.tenor}}  شهرا
                </td>
              </tr>
              <tr class="tbl-footer">
                <td >
                  القسط الشهري :
                </td>
                <td >
                <div class="total"><span>{{product.installment}}</span>   جنيه مصرى / شهر  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>

      </tr>


    </tbody>
  </table>
</div>
