<div class="container-fluid">
  <div class="row receipt-container sec-container">
    <div class="col-12 col-lg-8" >
      <div class="py-3">
          <img src="../../assets/img/logo_print.png" width="80" height="auto" >
      </div>
      <div class="row py-3">
        <div class="col-md-6">
            <div class="data">
                <p>رقم العملية : {{printingService.refundDeatils.refundNo}}  - استرجاع</p>
              </div>
          <div class="data">
            <p>المورد : {{printingService.refundDeatils.merchant}} </p>
          </div>
          <div class="data">
            <p>الفرع :{{printingService.refundDeatils.merchantBranch}} </p>
          </div>
        </div>
        <div class="col-md-6">
            <div class="data">
                <p>التاريخ : {{printingService.refundDeatils.refundDate | date: 'dd/MM/yyyy'}} </p>
              </div>
          <!-- <div class="data">
            <p>الوقت : {{printingService.refundDeatils.refundDate | date: 'hh:mm:ss'}} </p>
          </div> -->
          
          <div class="data">
            <p>رقم العميل التعريفي : {{clientId}} </p>
          </div>
          <div class="data">
              <p>إسم العميل : {{printingService.refundDeatils.client}} </p>
            </div>
        </div>
      </div>
      <div class="table-responsive-md tbl-print  py-3">
        <table class="table table-bordered ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">الوصف</th>
              <th scope="col">الكمية</th>
              <th scope="col">سعرالوحدة للمنتج</th>
              <th scope="col">السعر الإجمالي</th>
              <th scope="col">الدفعة المقدمة</th>
              <th scope="col">القيمة المتبقية</th>
              <th scope="col">قيمة القسط</th>
              <th scope="col">فترة التقسيط</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of printingService.refundDeatils.items ; let i = index" [attr.data-index]="i">
              <th scope="row">
                  <div class="item-num">
                      {{i + 1}}
                  </div>

                </th>
              <td>{{item.name}}-{{item.subCategory}}</td>
              <!-- <td>{{item.subCategory}}</td> -->
              <td>1</td>
              <td>{{item.price}}</td>
              <td>{{item.price}}</td>
              <td>{{item.downPayment}}</td>
              <td>{{item.price - item.downPayment}}</td>
              <td>{{item.monthlyPay}}</td>
              <td>{{item.tenor}}</td>

            </tr>
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div>
    
    </div>
  </div>
</div>
