/* You can add global styles to this file, and also import other style files */
@import "./src/custom_styles/main.scss";

.dimmContent {
  width: 100%;
  height:calc(180%);
  z-index: 1000;
  position:absolute;
 margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-repeat:no-repeat;
  background-image: url('/assets/img/loader-2.gif');
  background-position:center center;
  background-color: rgba(0, 0, 0, 0.363);
  display:none;
}
.dimmContent{
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}
