@include media-breakpoint-down(xs) {
  html{
    font-size: 12px !important;
  }
}
@include media-breakpoint-down(xs) {
  // body{
  //     background: red;
  // }
  .navbar-nav-right {
    .nav-item {
      .nav-link {
        padding: 0.5rem !important;
      }
    }
  }
  .table-searchResults {
    &.table td:last-child {
      min-width: auto !important;
      .btn {
        // text-align: left;
        float: left;
      }
    }
  }
  .title-sm-none {
    margin-bottom: 0 !important;
    display: none !important;
  }
  .col-padding {
    padding: 3rem !important;
  }
  // .col-container {
  //   padding: 3rem !important;
  // }
  .form-inline-small {
    // display: flex;
    // flex-flow: column;
    .navbar-nav {
      width: 100%;
      .dropdown-menu {
        margin-bottom: 0.3rem;
      }
    }
  }
  .navbar-dark .navbar-nav.navbar-nav-right .show > .nav-link,
  .navbar-dark .navbar-nav.navbar-nav-right .active > .nav-link,
  .navbar-dark .navbar-nav.navbar-nav-right .nav-link.show,
  .navbar-dark .navbar-nav.navbar-nav-right .nav-link.active {
    border-bottom: 5px solid transparent !important;
  }
}
@include media-breakpoint-up(sm) {
  .navbar-nav-right {
    .nav-item {
      .nav-link {
        padding: 0.5rem !important;
      }
    }
  }
  // .title-sm-none{
  //   margin-bottom: 0 !important;
  // }
  // .col-padding {
  //   padding: 3rem !important;
  // }
  // .col-container {
  //   padding: 3rem !important;
  // }
  .form-inline-small {
    .navbar-nav {
      width: 100%;
      .dropdown-menu {
        margin-bottom: 0.3rem;
      }
    }
    // display: flex;
    // flex-flow: column;
  }
  .navbar-dark .navbar-nav.navbar-nav-right .show > .nav-link,
  .navbar-dark .navbar-nav.navbar-nav-right .active > .nav-link,
  .navbar-dark .navbar-nav.navbar-nav-right .nav-link.show,
  .navbar-dark .navbar-nav.navbar-nav-right .nav-link.active {
    border-bottom: 5px solid transparent !important;
  }
}
@include media-breakpoint-down(md) {
  div.tbl-print{
    .table th, .table td {
      padding: 0.75rem 0.2rem;
      text-align: center;
      font-size: 0.7rem;
    }
  }

.sec-container {
  padding: 2rem 1rem 4rem 1rem;
}
}