
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//Custome_variables
$primary-color:#282c6b;
$secondary-color:#f1552d;
$text-black:#222222;
$text-grey:#999999;
$dark-grey:#cccccc;//btn grey
$grey:#ececec;//dark bg
$light-grey:#f8f8f8;//light bg
$sccess-color:#0db14b;
$active-primary-color:#1b1e59;
$active-secondary-color:#d44c29;

//Bootstrap_Variables

// $primary:       $blue !important;
// $info:          $cyan !important;

// $blue:#282c6b !important;
// $cyan :#f1552d !important;

// $indigo:  #6610f2 !important;
// $purple:  #6f42c1 !important;
// $pink:    #e83e8c !important;
// $red:     #dc3545 !important;
// $orange:  #fd7e14 !important;
// $yellow:  #ffc107 !important;
// $green:   #28a745 !important;
// $teal:    #20c997 !important;

//Fonts
// $font-regular:"GE_SS Light";
// $font-bold:"GE_SS Bold";
$font-regular:"Cairo_Regular";
$font-bold:"Cairo_Bold";
