@import "bootstrap";
@import "variables";


//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////CUSTOME_STYLES/////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
html{
  font-size: 13px !important;
  @include media-breakpoint-down(xs) {
      font-size: 12px !important;
  }
}
html,
body {
  direction: rtl;
  font-family: $font-regular, sans-serif;
  text-align: right;
}
body{
  // width: 768px;
  // max-width: 992px;
  // font-size: 12px !important;
  position: relative;
  min-height: 100vh;
  margin: auto;
}
h2, .h2 {
  font-size: 1.5rem;
}
// .form-control{
//   font-size: 0.75rem;
// }
.bg-primary {
  background: $primary-color !important;
}
.bg-grey{
  background: $grey !important;
}
.text-black{
  color: $text-black !important;
}
.text-secondary{
  color: $secondary-color !important;
}
.pr-5{
  padding-left: 5rem !important;
}
.main-container{
text-align: right;
}
.col-container{
  // padding: 3rem 2rem 2rem !important;
      // padding: 2rem 1rem ;
      padding: 2rem ;
      // padding:2rem 2rem 3rem 2rem;
}
.sec-container{
  padding:2rem 2rem 4rem 2rem;
}
.py-2rem{
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;

}
.bg-grey{
  background: $grey !important;
}
.bg-light-grey{
  background:  $light-grey !important;
}
.btn-primary{
  // padding-right: 3rem;
  // padding-left: 3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: .75rem;
}

.title , .heading-title{
  font-size: 1.125rem;
  // font-size:0.875rem;
  color: $primary-color;
  margin-bottom: 1rem;
  font-family: $font-bold;
}
.heading-title{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.text{
  // font-size: 1rem;
  // font-size: 0.8rem;
  color: $text-grey;
  margin-bottom: 0;
}
.text-black{
  font-size: 1rem;
  color: $text-black !important;
  margin-bottom: 0.5rem;
}
.required{
  color: #f00;
  font-size: 12px;
  line-height: 100%;
  font-weight: 600;
  vertical-align: top;
}
.text-danger{
  font-size: 0.8rem;
  line-height: 150%;
  display: inline-block;
  padding: .3rem;
}
.dropdown-menu {
  font-size: 14px;
}
input , button , select{
  border-radius: 2rem !important;
  // padding-top: 0.5rem !important;
  // padding-bottom: 0.5rem !important;
}
.form-control{
  // height: calc(1.5em + 1.55rem + 2px);
  // padding: 1rem;
  height: calc(.5rem + .5rem + 24px);
  padding: .5rem 1rem;

}
.font-english{
  font-family: 'MyriadPro-Bold', Times, serif !important;
}
//Button========================
// .btn , .btn-custom{
  .btn{
  // padding: 0.375rem 2rem;
  padding: .6rem 2rem;
  font-size: 12px;
}
// .btn-custom{
//   height: 40px;
// }
.btn-sm{
    padding: 0.375rem 1rem;
}
.form-control{
  // direction: ltr;
  direction: rtl;
  text-align: right;
}
///////////////////////////////////////////
.btn-primary{
  background: $primary-color;
  border-color:$primary-color;
}
.btn-primary:hover {
  background: $active-primary-color;
  border-color: $active-primary-color;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
  background: $active-primary-color;
  border-color: $active-primary-color;

}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 44, 107, 0.5);
}
////Btn-secodary//////////////////////////////////////
.btn-secondary-color{
  background: $secondary-color;
  border-color:$secondary-color;
  color: white;
}
.btn-secondary-color:hover {
  background: $active-secondary-color;
  border-color: $active-secondary-color;color: white;
}
.btn-secondary-color:not(:disabled):not(.disabled):active, .btn-secondary-color:not(:disabled):not(.disabled).active, .show > .btn-secondary-color.dropdown-toggle{
  background:  $active-secondary-color;
  border-color:  $active-secondary-color;color: white;

}
.btn-secondary-color:not(:disabled):not(.disabled):active:focus, .btn-secondary-color:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary-color.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 15, 0, 0.5);color: white;
}
//End===============

//Validation/////////////////////////////////////////////////////
.was-validated .form-control:invalid, .form-control.is-invalid,
.was-validated .form-control:valid, .form-control.is-valid {
  padding-left: calc(1.5em + 0.75rem);
  padding-right: 1rem !important;
  background-position: center left calc(0.375em + 1.1875rem);
}
.validation-feedback{

  background-color: #ffe1d9;
  padding: 1rem;
    color: #f1552d;
    margin-bottom: 1rem;
    border-radius: 17px;
    display: flex;
    align-items: center;
    i{
      margin-left: .5rem;
      font-size: 1.2rem;
    }
}
//End
//FOOTER=================================
footer {
  text-align: center;
  background: #282c6b;
  color: #fff;
  // padding: 0.5rem;
  padding: .8rem;
  width: 100%;
  // position: fixed;
  position: absolute;
  bottom: 0;
  z-index: -1;
  font-size: .8rem;
}
.btn-primary.disabled, .btn-primary:disabled{
  background: #282c6b;
  border-color: #282c6b;

}
.table thead th , .table  tr td{
  // white-space: nowrap;
  white-space: normal;

}
.table-searchResults.table td:last-child .btn {
  white-space: nowrap;
}
.link{
  text-decoration: underline !important;
  cursor: pointer !important;
}
.item-num{
  width: 20px;
  height: 20px;
  background:$text-grey;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-footer {
  border-top: 0px solid #dee2e6;
}
////////////////////////////////
@import "media_queries";
