
@import "../../custom_styles/variables";

.head {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  .title {
    margin-bottom: 0;
    margin-left: 0.5rem;
  }
}
.notification-icon {
  position: relative;
  margin-left: 0.6rem;
  color: $primary-color;
  i {
    font-size: 1.5rem;
  }
  .badge {
    position: absolute;
    top: -5px;
    right: -12px;
    background: #f1552d;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
  }
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: $text-grey;
  }
}
//Table Section Styles/////////////////////////////////////////////////////
.table-searchResults {
  width: 100%;

  &.table td {
    padding: 2rem 0.75rem;
  }
  &.table th {
    border-top: 0;
    white-space: nowrap;
  }
  &.table td:last-child {
    min-width: 19rem;
    .btn{
      // text-align: left;
      float: left;
    }
  }
}
.form-sm{
  .form-control {
    // height: calc(.2rem + .2rem + 24px);
    // padding: 0.5rem .5rem;
}
}
.cart-modal{
  .cart-modal-body{
    img{
      width:5rem;
      margin-bottom: 2rem;
    }
  }
  .modal-footer{
    border: 0;
    .btn{
      font-size: 1rem;
    }
  }
}

