<section class="container-fluid main-container">
  <div class="row">
    <div class="col-md-6 col-container bg-grey">
      <h2 class="title">1. البحث برقم تعريف العميل</h2>
      <form #f="ngForm" (ngSubmit)="add.reset(); getPackage(f.value)">
        <div class="form-row mb-3">
          <label for="inputNum" class="col-md-4 col-form-label ">رقم تعريف العميل:
            <span class="required">*</span>
          </label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="inputNum" placeholder="من فضلك إدخل رقم تعريف العميل" name="clientId" #clientId="ngModel" minlength="14" maxlength="14"
              numbersOnly  ngModel required />
            <div class="text-danger"  *ngIf="errorMessage">{{errorMessage}}</div>

          </div>

        </div>
        <div class="row ">
          <div class="col-md-12 text-left">
            <button type="submit" [disabled]="!f.valid" class="btn btn-primary">متابعـة</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 col-container bg-light-grey">
      <h2 class="title">2. اختر المنتج المراد تقسيطه</h2>
      <form #add="ngForm">
        <div class="form-row mb-3">
          <label for="inputState" class="col-4 col-form-label">الفئة:
            <span class="required">*</span>
          </label>
          <select id="inputState" name="category" class="col-8 form-control" #category="ngModel" ngModel (change)="getSubCategories($event.target.value)"
            [disabled]="isEnabled" required>
            <option value=""></option>
            <option *ngFor="let category of categoryRes" value="{{ category.ID }}">{{ category.NameAr }}</option>
          </select>
        </div>
        <div class="form-row mb-3">
          <label for="inputState" class="col-4 col-form-label">الفئه الفرعية:
            <span class="required">*</span>
          </label>
          <select id="inputState" class="col-8 form-control" #subCat="ngModel" ngModel (change)="getProducts($event.target.value)"
            [disabled]="isEnabled" name="subCategory" required>
            <option value=""></option>
            <option *ngFor="let subCategory of subCategories" value="{{ subCategory.ID }}">{{ subCategory.NameAr }}</option>
          </select>
        </div>

        <div class="form-row mb-3">
          <label for="inputState" class="col-4 col-form-label">المنتج:
            <span class="required">*</span>
          </label>
          <select id="inputState" class="col-8 form-control" #product="ngModel" ngModel [disabled]="isEnabled" name="product" required>
            <option value=""></option>
            <option *ngFor="let product of productList" [ngValue]="product">{{ product.NameAr }}</option>
          </select>
        </div>

        <div class="row">
          <div class="col-md-12 text-left">
            <button type="submit" class="btn btn-primary" [disabled]="!add.valid" (click)="resetParentForm(add,cartForm); basicModal.show(); ">
              أضف المنتج
            </button>
          </div>

          <div class="col-md-12 ">
            <div>
              <!-- <span >{{errorMessage}}</span> -->
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
 
</section>
<app-shopping-cart> </app-shopping-cart>
<div mdbModal #basicModal="mdbModal" class="modal cart-modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" (keydown.esc)="closePopUp(cartForm)" >
  <div class="modal-dialog" role="document">
    <div class="modal-content p-3">
      <div class="modal-body ">
        <div class="cart-modal-body">
          <form (click)="onEvent($event)" class="form-sm" #cartForm="ngForm" (ngSubmit)="validateBalance(cartForm.value,product.value, cartForm)">
            <!--  *ngIf="isloanCal" -->
            <div class="form-row mb-2">
              <label for="inputNum" class="col-md-5 col-12 col-form-label ">سعر الوحده:
                <span class="required">*</span>
              </label>
              <div class="col-md-4 col-12">
                <input type="number" class="form-control " id="inputNum" ngModel min="0" max="0"  step="0.01" name="totalPrice" placeholder=""  [validateSuccess]="false"
                  mdbInputDirective placeholder="   " data-error="من فضلك إدخل سعر الوحدة." required />
              </div>
              <label class="col-md-3 col-4 col-form-label d-none d-sm-block">جنيه مصري</label>
            </div>
            <div class="form-row mb-2">
              <label for="inputNum" class="col-md-5 col-12 col-form-label ">الدفعة المقدمة:
                <span class="required">*</span>
              </label>
              <div class="col-md-4 col-12">
                <input type="number" min="0" max="0"  step="0.01" class="form-control" id="inputNum" ngModel name="downPayment"  [(ngModel)]="defaultvalueForDownPayment"
                  placeholder="" mdbInputDirective placeholder="   " data-error="من فضلك إدخل قيمة الدفعة المقدمة." [validateSuccess]="false"
                  required />
              </div>
              <label class="col-md-3 col-4 col-form-label d-none d-sm-block">جنيه مصري</label>
            </div>
            <div class="form-row mb-2">
              <label class="col-md-5">فترة التقسيط</label>

              <div class="col-md-4 col-12">
                <select [(ngModel)]="selectedLevel" class="form-control" name="noOfMonths" required [validateSuccess]="false" mdbInputDirective
                  data-error="من فضلك حدد فترة التقسيط.">
                  <!-- <option value=""></option> -->
                  <option *ngFor="let month of Duration" value="{{ month }}">{{ month }}</option>
                </select>

              </div>
              <label class="col-md-3 col-4 col-form-label d-none d-sm-block"> شهر</label>
            </div>
            <div class="form-row mb-2">
              <label class="col-md-5"> الكمية</label>

              <div class="col-md-4 col-12">
                <!-- <div class="d-md-flex"> -->
                <input type="text" class="form-control " ngModel name="quantity" placeholder="" required [validateSuccess]="false" mdbInputDirective  data-error="من فضلك أدخل الكميه."/>
              </div>
              <label class="col-md-3 col-4 col-form-label d-none d-sm-block"> وحدة</label>
            </div>
          </form>
        </div>
      </div>
      <!-- data-dismiss="modal" -->

      <div class="modal-footer  text-center justify-content-center">
        <button type="submit" class="btn btn-primary btn-sm col-12 col-md-12" data-dismiss="modal" [disabled]="loading" (click)="validateBalance(cartForm.value, product.value, cartForm)">
          أضف المنتج لعربة التسوق
        </button>
      </div>
      <div class="text-danger" *ngIf="adderrorMessage">{{adderrorMessage}}</div>

    </div>
  </div>
</div>


<div class="modal cart-modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-3">
      <div class="modal-body text-center">
        <div class="cart-modal-body">
          <img src="../../assets/img/added_icon.png">
          <h5 class="heading-title mb-2">تمت الإضافة للعربة بنجاح</h5>
          <p class="text-black">القسط الشهري</p>
          <h5 class="text-secondary">1202.8 جنيها مصريا</h5>
        </div>
      </div>
      <div class="modal-footer  text-center justify-content-center">
        <button type="button" class="btn btn-primary col-md-5 " data-dismiss="modal">موافق </button>
      </div>
    </div>
  </div>
</div>